<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Letters</title>
</head>
<body>
    <% if (locals.letterCount) { %>
        <h2>There are <%= letterCount %> in your name.</h2>
    <% } else { %>
        <h2>Please enter a valid name to see the number of letters it contains!</h2>
    <% } %>
    <form action="/submit" method="post">
        <input type="text" name="fName" placeholder="First Name"><br><br>
        <input type="text" name="lName" placeholder="Last Name"><br><br>
        <input type="submit" value="OK">
    </form>
</body>
</html>