.black {
    background-color: rgb(161, 123, 123);
    height: 100px;
    width: 100px;
}

.white {
    height: 100px;
    width: 100px;
    background-color: rgb(235, 209, 179);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 800px;
}